@charset "utf-8";

header {
  background-color: white;
}

header li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  /* text-decoration: none; */
}
    
/* Change the link color to #111 (black) on hover */
header li a:hover {
  background-color: pink;
 }

 .main_visual p::after {
  content: "制作実績";
}

html {
  background-color: pink;
}

main {
  background-color: white;
  padding-bottom: 30px;
}

h2 {
  font-size: 30px;
  display: block;
  text-align: center;
  padding-top: 50px;
  margin-top: 30px;
}

h2::after {
  content: "今日なに食べる？";
  font-size: 20px;
  display: block;
  text-align: center;
  padding-top: 10px;
}

.slide p {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}


/* Change the link color to #111 (black) on hover */
.slide a:hover {
  background-color: pink;
 }

.item {
  margin-top: 50px;
  margin-bottom: 50px;
}

.item ul,ol {
  margin: 30px;
  list-style-type: square;
}


.sentence {
  width: 800px;
  margin: 30px auto;
}

.item h3 {
  /* text-align: center; */
  margin-left: 10px;
  width: 930px;
  border-left: 10px solid gray;
  border-bottom: 2px solid gray;
  padding-left: 20px;
  font-size: 30px;
}

.explane {
  margin: 30px;
}


#image1 {
  width: 100%;
  height: 100%;

  transition: all 500ms 0s ease;
}
.on {
  transform: scale(1.6, 1.6) translate(0px, 0px);
}
.off {
  transform: scale(1.0, 1.0) translate(0px, 0px);
}

footer {
  background-color: white;
}


/* .explane {
  text-align: center;
}

.video {
  text-align: center;
}

video {
  width: 100%;
}
.item ul{
  width: 300px;
  margin: 0 auto;
}

.item h3 {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  border-left: 10px solid gray;
  border-bottom: 2px solid gray;
  padding-left: 20px;
}

.margin_auto {
  width: 600px;
  margin: 0 auto;
}

#image1 {
  width: 100%;
  height: 100%;

  transition: all 500ms 0s ease;
}
.on {
  transform: scale(1.6, 1.6) translate(0px, 0px);
}
.off {
  transform: scale(1.0, 1.0) translate(0px, 0px);
}

footer {
  width: 620px;
  margin: 0 auto;
  text-align: center;
}

.er p {
  text-align: center;
} */