@charset "utf-8";

h2::before {
    content: "荒牧 江莉奈\A";
    white-space: pre;
    font-size: 20px;
}

#profile .flex{
    width: 400px;
    flex-wrap: wrap;
}

.flex{
    flex-wrap: wrap;
}

.profile dt {
    width: 30%;
}

.profile dd {
    width: 70%;
}

.live {
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.live li {
    width: 50%;
}

#hobby {
    width: 400px;
}
#hobby dt{
    text-align: center;
}
.hobby {
  /* flex-wrap: wrap; */
  list-style: none;
  padding: 0;
  justify-content: center;
  text-align: center;
}

.hobby .split {
    width: 50%;
}

/* .live li:nth-child(2n) {
    margin-left: 100px;
} */

.detail {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.work {
    display: flex;
}

/* #work .flex {
    display: flex;
} */

#work dl {
    display: flex;
    width: 1000px;
    /* margin: 0 auto; */
    /* justify-content: space-between; */
}

#work dt {
    width: 50%;
}

#work dd {
    width: 50%;
}
  
.qualification {
    display: flex;
    justify-content: space-between;
}

.background {
    display: flex;
    margin: 0 auto;
}

#background .flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

#background dl {
    width: 1000px;
}

.background dt {
    width: 30%;
}

.background dd {
    width: 70%;
}