@charset "utf-8";

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    /* text-decoration: none; */
  }
      
  /* Change the link color to #111 (black) on hover */
li a:hover {
background-color: pink;
}

h2::before {
    content: "荒牧 江莉奈\A";
    white-space: pre;
    font-size: 18px;
}

.main_visual p::after {
    content: "自己紹介";
  }
  

h2 {
    font-size: 30px;
}

#profile figure img {
    width: 400px;
    height: auto;
    border-radius: 50%;
  }

#profile dl{
    width: 500px;
    margin-top: 50px;
    margin-left: 60px;
}

.introduce dt {
    width: 25%;
    float: left;
}

.introduce dd {
    width: 75%;
}

.introduce ul.flex {
    flex-wrap: wrap;
}

.introduce li {
    width: 50%;
}

.hobby li:last-child {
    width: 100%;
}

#profile  {
    border: solid 10px pink;
    position: relative;
    padding: 40px;
}

#qualification, #work, #background {
    margin-top: 50px;
    border: solid 10px pink;
    position: relative;
    padding: 40px;
  }

#qualification h3, #work h3, #background h3 {
    top: -25px;
    left: 20px;
    padding: 0 20px;
}

h3 {
    position: absolute;
    background-color: white;
    font-size: 30px;
}

.it_group {
    width: 60%;
}

.other_group {
    width: 40%;
}

#work dl{
    width: 700px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-left: 180px;
}

#work dt{
    width: 40%;
    float: left;
}

#work dd{
    width: 60%;
}

#background dl{
    width: 600px;
    /* width: 100%; */
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-left: 230px;
}

#background dt {
    /* margin-left: 200px; */
    width: 30%;
    /* width: 100px; */
}

#background dd {
    width: 70%;
    /* width: 300px; */
    /* margin-right: 200px; */
}


/* .introduce li a {
    box-sizing: border-box;
} */


/* h2::before {
    content: "荒牧 江莉奈\A";
    white-space: pre;
    font-size: 20px;
}

#profile .flex{
    width: 400px;
    flex-wrap: wrap;
}

.flex{
    flex-wrap: wrap;
}

.profile dt {
    width: 30%;
}

.profile dd {
    width: 70%;
}

.live {
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.live li {
    width: 50%;
}

#hobby {
    width: 400px;
}
#hobby dt{
    text-align: center;
}
.hobby {
  list-style: none;
  padding: 0;
  justify-content: center;
  text-align: center;
}

.hobby .split {
    width: 50%;
}

.detail {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.work {
    display: flex;
}

#work dl {
    display: flex;
    width: 1000px;

}

#work dt {
    width: 50%;
}

#work dd {
    width: 50%;
}
  
.qualification {
    display: flex;
    justify-content: space-between;
}

.background {
    display: flex;
    margin: 0 auto;
}

#background .flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

#background dl {
    width: 1000px;
}

.background dt {
    width: 30%;
}

.background dd {
    width: 70%;
} */