@charset "utf-8";

h2::after {
    content: "荒牧 江莉奈\A";
    white-space: pre;
    font-size: 18px;
    margin-top: 14px;
}

.main_visual p::after {
    content: "自己紹介";
  }
  

h2 {
    font-size: 30px;
}

.name {
    width:400px;
    margin-top: 24px;
}

#profile figure img {
    width: 400px;
    height: auto;
    border-radius: 50%;
  }

#profile dl{
    width: 500px;
    margin-top: 35px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
}

.introduce dt {
    width: 25%;
    /* float: left; */
}

.introduce dd {
    width: 75%;
}

.introduce ul.flex_media {
    flex-wrap: wrap;
}

.introduce li {
    width: 50%;
}

.hobby li:last-child {
    width: 100%;
}

#profile  {
    margin-top: 50px;
    border: solid 10px pink;
    position: relative;
    padding: 40px;
}

#qualification ul{
    margin-left: 30px;
    list-style-type: square;
}

#qualification, #work, #background {
    margin-top: 50px;
    border: solid 10px pink;
    position: relative;
    padding: 40px;
  }

h2 {
    position: absolute;
    background-color: white;
    font-size: 30px;

    top: 360px;
    left: 480px;
    padding: 0 20px;

    z-index: 10;
}  

#qualification h3, #work h3, #background h3 {
    top: -25px;
    left: 20px;
    padding: 0 20px;
}

h3 {
    position: absolute;
    background-color: white;
    font-size: 30px;
}

.it_group {
    width: 60%;
}

.other_group {
    width: 40%;
}

#work dl{
    width:  900px;
    box-sizing: border-box;
    flex-wrap: wrap;
    /* margin-left: 100px; */
}

#work dt{
    width: 30%;
    float: left;
}


#work dd.job_name{
    width: 30%;
    
}

#work dd.job_contents{
    width: 40%;
    margin: auto;
}

/* #work p {
    width: 500px;
    margin-left: 180px;
    margin-top: 20px;
} */

#background dl{
    width: 700px;
    /* width: 100%; */
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-left: 220px;
}

#background dt {
    /* margin-left: 200px; */
    width: 20%;
    /* width: 100px; */
}

#background dd {
    width: 80%;
    /* width: 300px; */
    /* margin-right: 200px; */
}

/* .media_br {
    display: none;
} */


/* スマホ端末用CSS */
@media screen and (max-width: 600px){
    h2::after {
        content: "荒牧 江莉奈\A";
        white-space: pre;
        font-size: 10px;
        margin-left: 8px;
    }

    .main_visual p::after {
        content: "自己紹介";
    }

    .name {
        width:240px;
        margin-top: 24px;
    }

    h2 {
        position: absolute;
        background-color: white;
        font-size: 20px;
    
        /* top: 360px;
        left: 480px;
        padding: 0 20px; */
    
        top: 360px;
        left: 48px;
        padding: 0 20px;

        z-index: 10;
    }  

    #profile figure img {
        width: 90%;
        height: auto;
        border-radius: 50%;
        
    }

    #profile figure {
        text-align: center;
    }

    #profile dl{
        width:95%;
        margin-top: 35px;
        margin-left: 8%;
        display: flex;
        flex-wrap: wrap;
    }

    #profile dd img {
        width:90%;
        height: auto;
        margin-left: -5%;
    }

    .introduce dt {
        width: 35%;
        /* float: left; */
    }

    .introduce li:last-child, #background dd {
        margin-bottom: 5%;
    }

    .introduce dd {
        width: 65%;
    }

    .introduce ul.flex {
        flex-wrap: wrap;
    }

    .introduce li {
        width: 50%;
    }

    /* .hobby li:last-child {
        width: 100%;
    } */

    #profile {
        border: solid 10px pink;
        position: relative;
        padding: 10% 0% 5% 0%;
    }
    
    /* .profile_kaigyou {
        width: 130px;
    } */

    /* .bk_kaigyou {
        width: 50%;
    } */

    #qualification ul{
        margin-left: 30px;
        list-style-type: square;
        width: 100%;
    }

    #qualification ul {
        width: 80%;
    }

    #qualification {
        margin-top: 50px;
        border: solid 10px pink;
        position: relative;
        padding: 10% 3%;
    }

    #work {
        margin-top: 50px;
        border: solid 10px pink;
        position: relative;
        padding: 10%;
    }

    #background {
        margin-top: 50px;
        border: solid 10px pink;
        position: relative;
        padding: 10% 5%;
    }

    #qualification h3, #work h3, #background h3 {
        top: -25px;
        left: 20px;
        padding: 0 20px;
    }

    h3 {
        position: absolute;
        background-color: white;
        font-size: 30px;
    }

    #qualification ul {
        width: 90%;
    }

    .it_group {
        width: 90%;
        margin: 0 auto;
    }

    .it_group h4 {
        width: 80%;
    }

    .other_group {
        width: 90%;
        margin: 0 auto;
    }

    #work dl{
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
        margin-left: 0%;
    }

    #work dt{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #work dd.job_name, #work dd.job_contents{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #work dd.job_contents{
        padding-bottom: 5%;
    }

    #work dd.job_contents:last-child {
        padding-bottom: 0%;
    }

    #background dl{
        width: 95%;
        box-sizing: border-box;
        flex-wrap: wrap;
        margin-left: 0px;
    }

    #background dt {
        width: 110%;
    }

    #background dd {
        width: 110%;
        margin-left: 5%;
    }

    li, dt, dd {
        font-size: 14px;
    }

    /* .media_br {
        display: inline;
    } */
}
